*.pid
*.xml
*.csr
*.crt
*.key
*.conf
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.db-journal
lib
deps
secrets.yaml
known_devices.yaml
phue.conf
pyozw.sqlite
nest.conf
.uuid
.HA_VERSION
ecobee.conf
emulated_hue_ids.json
OZW_Log.txt
pyozw.sqlite
app-deamon.log*
Network Trash Folder
tts
.spotify-token-cache
compiled
Temporary Items
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
._.DS_Store
coinmarketcap_cache.sqlite
.vscode/settings.json